body,
html {
    font-family: "Poppins";
    height: 100%;
}

.background {
    background-image: url("../../public/images/loginimage.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main {
    padding-left: 0px;
    padding-right: 0px;
}

.fadedbackground {
    height: 100vh;
    background-color: rgba(15, 113, 133, 0.8);
    position: relative;
}

.para {
    color: rgba(255, 255, 255, 1);
}

.logoposition {
    position: absolute;
    top: 7.031%;
    left: 13.21%;
}

.form {
    max-width: 442px;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.dotsposition {
    position: absolute;
    top: 20.7%;
    left: 62.44%;
}

.circleposition {
    position: absolute;
    top: 82.5%;
    left: -10px;
}

.quotesposition {
    position: absolute;
    top: 32.22%;
    left: 28.21%;
}

.endquoteposition {
    position: absolute;
    top: 57.91%;
    left: 73.57%;
}

.inputfields {
    max-width: 442px;
}

.inputfields input {
    width: 100%;
    border: 1.5px solid rgba(231, 232, 234, 1);
    border-radius: 20px;
    padding: 12px;
    height: 46px;
}

.btnfield {
    max-width: 442px;
    text-align: center;
    margin-top: 40px;
}

.btnfield button {
    width: 100%;
    padding: 16px 24px;
    border: none;
    border-radius: 24px;
    background: rgba(15, 113, 133, 1);
    color: white;
}

.inputfields input::placeholder {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(136, 141, 152, 1);
}

.inputtitle {
    font-family: Poppins;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0px;
    vertical-align: middle;
}

.forgotpass {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: rgba(15, 113, 133, 1);
}

.accountverifyquestion {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
}

.col-46 {
    flex: 0 0 46.5%;
    max-width: 46.5%;
}

.background-col {
    display: none;
}

#displayerroremail {
    font-family: Poppins;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(255, 78, 96, 1);
    margin-left: 5px;
    margin-top: 5px;
}

.backtosignin {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    color: rgba(64, 73, 89, 1);
}

.heading {
    font-family: Poppins;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0px;
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 24px;
}

.slogan {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: rgba(64, 73, 89, 1);
    margin-bottom: 40px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

/* White modal box */
.modal-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    width: 436px;
    max-width: 90%;
    height: 370px;
    padding: 40px;
    border-radius: 24px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
    text-align: center;
    animation: popIn 0.25s ease-out;
}

.modal-description {
    margin-top: 30px;
    margin-bottom: 12px;
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
}

.modalbtn {
    width: 326px;
}

.modalbtn button {
    width: 100%;
    margin-top: 30px;
    border-radius: 24px;
    border: none;
    padding: 16px 24px;
    background-color: rgba(15, 113, 133, 1);
    color: white;
}

.hidemodal {
    display: none !important;
}

.modal-confirm-change-password {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    color: rgba(64, 73, 89, 1);
}

@media (min-width: 768px) {
    .background-col {
        display: block;
    }
}
